
$black: #000;
$white: #fff;
// Global
body{
  background: #F7F7F7;
  margin: 0;
  font-family: source-sans-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}
li {
    list-style-type: none;
    font-style: italic;
}
// profile
.background{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 10px;
}

.pic{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.profile{
  background: url("../images/bg.jpeg");
  position: relative; 
  padding: 59px 0;
}
.info{
  color: $white;
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
}

.name{
  font-size: 34px;
}
.points{
  font-size: 14px;
}

// restaurant list view
.RestaurantAvatar{
  float: left;
  padding-right: 5px;
}

.RestaurantInfo {
  float: left;
}

.ResultOption {
  overflow: hidden;
  margin-bottom: 10px;
}

.RestaurantTags{
  li{
    display: inline-block;
    border-radius: 100%;
    border: 1px solid;
    font-size: 13px;
    padding: 3px;
    margin-right: 5px;
  }

}
@media all and (max-width: 960px) {
  // header
  #header{
    padding: 10px 0;
    img{
      width: 40%;
    }
  }
  // profile
  .profile{
    padding: 100px 0;
  }
  .info{
    margin-top: 0;
    display: block;
  }
  // restaurant result page
  .ResultOption{
    overflow: hidden;
  }

  .RestaurantAvatar{
  float: left;
  padding-right: 5px;
    img{
      display: inline-block;
      width: 150px;
    }
  }
  .RestaurantInfo {
    display: inline-block;
    width: 50%;
  }
  .restaurant{
    padding-bottom: 5px;
    font-size: 14px;
    &.RestaurantName{
      font-size: 16px;
    }
  }

}

body{
  background: #F7F7F7;
}

img{
  width: 30%;
  max-height: 113px;
  border-radius: 100%;
}

.info{
  float: right;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  background: #fff;
  margin-bottom: 2rem;

}

