/* line 5, ../sass/client.scss */
body {
  background: #F7F7F7;
  margin: 0;
  font-family: source-sans-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 10, ../sass/client.scss */
li {
  list-style-type: none;
  font-style: italic;
}

/* line 15, ../sass/client.scss */
.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 10px;
}

/* line 25, ../sass/client.scss */
.pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/* line 30, ../sass/client.scss */
.profile {
  background: url("../images/bg.jpeg");
  position: relative;
  padding: 59px 0;
}

/* line 35, ../sass/client.scss */
.info {
  color: white;
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
}

/* line 42, ../sass/client.scss */
.name {
  font-size: 34px;
}

/* line 45, ../sass/client.scss */
.points {
  font-size: 14px;
}

/* line 50, ../sass/client.scss */
.RestaurantAvatar {
  float: left;
  padding-right: 5px;
}

/* line 55, ../sass/client.scss */
.RestaurantInfo {
  float: left;
}

/* line 59, ../sass/client.scss */
.ResultOption {
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 65, ../sass/client.scss */
.RestaurantTags li {
  display: inline-block;
  border-radius: 100%;
  border: 1px solid;
  font-size: 13px;
  padding: 3px;
  margin-right: 5px;
}

@media all and (max-width: 960px) {
  /* line 77, ../sass/client.scss */
  #header {
    padding: 10px 0;
  }
  /* line 79, ../sass/client.scss */
  #header img {
    width: 40%;
  }

  /* line 84, ../sass/client.scss */
  .profile {
    padding: 100px 0;
  }

  /* line 87, ../sass/client.scss */
  .info {
    margin-top: 0;
    display: block;
  }

  /* line 92, ../sass/client.scss */
  .ResultOption {
    overflow: hidden;
  }

  /* line 96, ../sass/client.scss */
  .RestaurantAvatar {
    float: left;
    padding-right: 5px;
  }
  /* line 99, ../sass/client.scss */
  .RestaurantAvatar img {
    display: inline-block;
    width: 150px;
  }

  /* line 104, ../sass/client.scss */
  .RestaurantInfo {
    display: inline-block;
    width: 50%;
  }

  /* line 108, ../sass/client.scss */
  .restaurant {
    padding-bottom: 5px;
    font-size: 14px;
  }
  /* line 111, ../sass/client.scss */
  .restaurant.RestaurantName {
    font-size: 16px;
  }
}
/* line 118, ../sass/client.scss */
body {
  background: #F7F7F7;
}

/* line 122, ../sass/client.scss */
img {
  width: 30%;
  max-height: 113px;
  border-radius: 100%;
}

/* line 128, ../sass/client.scss */
.info {
  float: right;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 2rem;
}
